* Rahil Sayyad
* Email Id: rahilsayyad389@gmail.com

In [1]:
#String Creation
# all of the following are equivalent
my_string = 'hello python'
my_string

'hello python'

In [2]:
# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

In [3]:

my_str="Hello Rahil "

In [4]:
#slicing
my_str[:]   #[start : end]

'Hello Rahil '

In [5]:
#last character
my_str[2:]

'llo Rahil '

In [6]:
#We can't use float or other types, this will result into TypeError.
str[1.3]

TypeError: 'type' object is not subscriptable

# Important String Methods

In [7]:
#1-capitalize()-returns a copy of the string with only its first character capitalized.
str1 = "welcome to Python"

In [8]:
#2-count()- returns the number of occurrences of substring sub in the range [sub,start, end]
str1.count('o')

3

In [9]:
#3-endswith()-returns True if the string ends with the specified suffix, otherwise return False inthe range [suffix,start, end]
str1.startswith('elc')

False

In [10]:
str1.endswith('hon')

True

In [11]:
#4-find()-It determines if string str occurs in string, or in a substring of string if starting index beg and ending index end are given.
#[str,beg,end]
#return Index if found and -1 otherwise.
str1.find('o')

4

In [12]:
str1.index("o")

4

In [13]:
str1.find('z')

-1

In [14]:
#5-isalpha()- checks whether the string consists of alphabetic characters only.
str1.isalpha()

False

In [15]:
x='1234a'

In [16]:
x.isnumeric()

False

In [17]:
#6-islower()-checks whether all the case-based characters (letters) of the string are lowercase.
x.islower()

True

In [18]:
x.islower()

True

In [19]:
y='p'

In [20]:
y.isupper()

False

In [21]:
#7-isnumeric() checks whether the string consists of only numeric characters. 
str1.isnumeric()

False

In [22]:
z='12a3'

In [23]:
z.isnumeric()

False

In [24]:
#8-isupper()-checks whether all the letters of the string are uppercase.
str1.isupper()

False

In [25]:
z='Hello Python'

In [26]:
z

'Hello Python'

In [27]:
z.isupper()

False

In [28]:
c='PYTHON'

In [29]:
c

'PYTHON'

In [30]:
c.isupper()

True

In [31]:
#9-join()-returns a string in which the string elements of sequence have been joined by str separator.
s = "-";
seq = ("a", "b", "c");

In [32]:
s.join(seq)

'a-b-c'

In [33]:
#10-len()-returns the length of the string.
len(my_str)

12

In [34]:
x

'1234a'

In [35]:
str1

'welcome to Python'

In [36]:
#11-lower()-returns a copy of the string in which all case-based characters have been lowercased.
str1.upper()

'WELCOME TO PYTHON'

In [37]:
x="PYThon"

In [38]:
x.lower()

'python'

In [39]:
#12-lstrip() returns a copy of the string in which all chars have been stripped from the beginning of the string (default whitespace characters).
str5= "jjjkjjmjjjjjjkjjjjjmjjjjkjjjjjjjkjjjjthis is string example....wow!!!     "

In [40]:
str5.lstrip("mjk")

'this is string example....wow!!!     '

In [41]:
len(str1)

17

In [42]:
#13-rstrip() returns a copy of the string in which all chars have been stripped from the end of the string (default whitespace characters).
str2 = "88888888this is string example....wow!!!8888888888888888888888888888888888888888888888888888888888"

In [43]:
a=str2.rstrip('8')
a

'88888888this is string example....wow!!!'

In [44]:
str2

'88888888this is string example....wow!!!8888888888888888888888888888888888888888888888888888888888'

In [45]:
z="hi Python"
z

'hi Python'

In [46]:
#14-replace() returns a copy of the string in which the occurrences of old have been replaced with new
z.replace('Python','AIS')

'hi AIS'

In [53]:
#15- split() returns a list of all the words in the string, using str as the separator 
str1 = "Rahil@gmail.com"

In [54]:
str1.split("@")[1]

'gmail.com'

In [58]:
str1[5:]

'@gmail.com'

In [59]:
str1.split('@')

['Rahil', 'gmail.com']

In [60]:
str1.split(' ',0)

['Rahil@gmail.com']

In [61]:
str1.startswith('Python')

False

In [62]:
#18-upper() returns a copy of the string in which all case-based characters have been uppercased.
str="python"
str.upper()

'PYTHON'

In [63]:
x='PY'

In [64]:
x.lower()

'py'